.slide-image {
  width: 100%;
  height: 100%;
}

.slid-left {
  cursor: pointer;
  height: 100%;
  width: 64px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: #0EC261;
    opacity: 20%;
  }
}

.slid-right {
  cursor: pointer;
  height: 100%;
  width: 64px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  &:hover {
    background: #0EC261;
    opacity: 20%;
  }
}
