<div class="booking-page-wrapper">
  <div class="booking-page">
    <div class="booking-page-header">
      <span class="booking-page-title">{{'GENERAL.TITLE' | translate}}</span>
      <span class="booking-page-location"><img src="./assets/icons/location-icon.svg" class="booking-page-location-icon">Ульяновск</span>
    </div>
    <div class="breadcrumbs-wrapper">
      <app-breadcrumbs></app-breadcrumbs>
    </div>
    <div class="booking-page-main-content">
      <div class="booking-page-main-content-left">
        <app-change-locality></app-change-locality>
      </div>
      <div class="booking-page-main-content-right"></div>
    </div>
  </div>
</div>
