<div class="booking-page_wrapper">
  <div class="booking-page">
    <div class="booking-page__header">
      <span class="booking-page__header_title">{{'GENERAL.TITLE' | translate}}</span>
      <span class="booking-page__header_location">
        <img src="./assets/icons/location-icon.svg" class="booking-page__header_location_icon">Ульяновск
      </span>
    </div>
    <div class="booking-page__breadcrumbs_wrapper">
      <app-breadcrumbs></app-breadcrumbs>
    </div>
    <div class="booking-page__main-content">
      <div class="booking-page__main-content_left">
        <router-outlet></router-outlet>
      </div>
      <div class="booking-page__main-content_right">
        <h1 class="booking-page__main-content_right_title">Ваш заказ:</h1>
        <app-order-status></app-order-status>
      </div>
    </div>
  </div>
</div>
