<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav class="mat-sidenav">
    <button mat-icon-button (click)="sidenav.toggle()" class="menu-button-close">
      <mat-icon>close</mat-icon>
    </button>
    <div class="sidenav-inner-container">
      <mat-selection-list multiple="false">
        <mat-list-option *ngFor="let section of sections" class="section">
          {{section.title}}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="mat-sidenav-content">
    <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="col1"></div>
    <div class="col2"></div>
    <div class="col3"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
