<mat-sidenav-container class="main-container">

  <mat-sidenav #sidenav class="mat-sidenav">
    <app-main-menu (openMenuEmitter)="sidenav.toggle()"></app-main-menu>
  </mat-sidenav>

  <mat-sidenav-content class="mat-sidenav__content">
    <div class="menu__section"></div>
    <button mat-icon-button (click)="sidenav.toggle()" class="menu__button">
      <mat-icon>menu</mat-icon>
    </button>
    <main class="content_wrapper">
      <router-outlet></router-outlet>
      <footer class="mobile-footer"></footer>
    </main>
    <div class="mat-menu__languages_container">
      <app-languages-control></app-languages-control>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
