<mat-sidenav-container class="main-container">

  <mat-sidenav #sidenav class="mat-sidenav">
    <button mat-icon-button (click)="sidenav.toggle()" class="menu-button-close">
      <mat-icon>close</mat-icon>
    </button>
    <div class="sidenav-inner-container">
      <mat-selection-list multiple="false">
        <mat-list-option *ngFor="let section of sections" class="section">
          {{section.title}}
        </mat-list-option>
      </mat-selection-list>
      <div class="emit-icons">
        <img src="assets/icons/telegram-white-icon.svg" class="emit-icon" appHoverOverElement>
        <img src="assets/icons/facebook-white-icon.svg" class="emit-icon" appHoverOverElement>
        <img src="assets/icons/instagram-white-icon.svg" class="emit-icon" appHoverOverElement>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="mat-sidenav-content">
    <div class="menu-section"></div>
    <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="content-wrapper">
      <app-main-page></app-main-page>
      <div class="mobile-footer"></div>
    </div>
    <div class="mat-menu-languages-container">
      <app-languages-control></app-languages-control>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>


<!--<app-main-page></app-main-page>-->
