@import 'src/styles/variables';
@import "src/styles/mixins";

.menu__button_close {
  position: absolute;
  color: white;
  top: 10px;
  left: 10px;
}

.icons_emit {
  display: flex;
  flex-direction: row;
  img {
    cursor: pointer;
    margin-top: 6vh;
    margin-left: 16px;
  }
}

.sidenav__inner-container {
  position: relative;
  max-width: min-content;
  top: calc(50% - 100px);
  left: 15%;
}

.menu__section {
  @include getFontStyle(normal, 500, 32px, 37.5px);
  max-width: min-content;
  color: white;
  &:hover {
    color: $main-green;
  }
}

@media (max-width: 500px) {
  .menu__section {
    @include getFontStyle(normal, 400, 22px, 20px);
  }
}
