@import '../../../../styles/variables';
@import "../../../../styles/mixins";

.slider-card-information {
  position: absolute;
  top: 30vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  height: 100%;
}

.slider-card-title {
  color: #FFFFFF;
  @include getFontStyle(normal, 500, 40px, 47px);
}

.slider-card-description {
  margin-top: 8px;
  margin-bottom: 32px;
  color: #EEEEEE;
  @include getFontStyle(normal, 300, 24px, 24px);
}

.more-information-button {
  background: linear-gradient(90deg, #13493F 0%, #0C7B1B 100%);
  border-radius: 4px;
  color: #EEEEEE;
  @include getFontStyle(normal, 500, 18px, 21px);
  padding: 14px 40px;
  width: min-content;
}

.slid-left {
  cursor: pointer;
  height: 100%;
  width: 64px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: #0EC261;
    opacity: 20%;
  }
}

.slide-image {
  width: 100%;
  height: 100%;
}

.slid-right {
  cursor: pointer;
  height: 100%;
  width: 64px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  &:hover {
    background: #0EC261;
    opacity: 20%;
  }
}
