<div class="main-page-wrapper">

    <div class="booking-section-wrapper">
      <div class="booking-section">
        <div class="booking-header-left">{{'GENERAL.TITLE' | translate}}</div>
        <div class="booking-header-right">
          <span class="location-icon"><img src="./assets/icons/location-icon.svg"></span>
          <span class="location-title">Ульяновск</span>
        </div>
        <div class="booking-main">
          <span class="booking-main-row1">{{'GENERAL.TITLE' | translate}}</span>
          <span class="booking-main-row2">{{'MAIN PAGE.booking.header' | translate}}</span>
          <span class="booking-main-row3">{{'MAIN PAGE.booking.description' | translate}}</span>
          <button class="booking-main-button" mat-button (click)="navigateToBooking()">{{'MAIN PAGE.booking.booking button' | translate}}</button>
        </div>
        <div class="booking-footer-right">8 (495) 234-22-44</div>
        <div class="booking-footer-left">© 2016-2021 «Need for drive»</div>
      </div>
    </div>

    <div class="slider-section-wrapper">
      <app-slider [state]=sliderState></app-slider>
    </div>

</div>

