<div class="main-page_wrapper">

    <section class="booking__section_wrapper">
      <div class="booking__section">
        <div class="booking__section_header-left">{{'GENERAL.TITLE' | translate}}</div>
        <div class="booking__section_header-right">
          <span class="booking__section_location-icon"><img src="./assets/icons/location-icon.svg"></span>
          <span>Ульяновск</span>
        </div>
        <div class="booking__section_main">
          <span class="booking__section_main_row1">{{'GENERAL.TITLE' | translate}}</span>
          <span class="booking__section_main_row2">{{'MAIN PAGE.booking.header' | translate}}</span>
          <span class="booking__section_main_row3">{{'MAIN PAGE.booking.description' | translate}}</span>
          <button class="booking__section_main_navigate-button" mat-button (click)="navigateToBooking()">{{'MAIN PAGE.booking.booking button' | translate}}</button>
        </div>
        <div class="booking__section_footer-right">8 (495) 234-22-44</div>
        <div class="booking__section_footer-left">© 2016-2021 «Need for drive»</div>
      </div>
    </section>

    <section class="slider__section_wrapper" [ngStyle]="{
      backgroundImage: sliders[sliderState.currentValue]?.img || 'assets/images/image-not-found.jpg',
      backgroundSize: 'cover'
    }">
      <app-slider
        [slider]="sliders[sliderState.currentValue]"
        (slideLeftEmitter)="slideLeft()"
        (slideRightEmitter)="slideRight()"
      ></app-slider>
    </section>

</div>

